# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
mm2disc

# Dependency directories (remove the comment below to include it)
vendor/

# Golang preferences folder
.idea/
# Goreleaser dist
dist/*

# Binaries, local env files, etc.
.env
mattermost2discord
